<html>
    <head>
        {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title>BankName</title>
        {% endif %}
    </head>
    <body>
        <div>
            <h3>
                <span><a href="{{ url_for('main') }}">Home</a></span>

                {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}">logout</a>
                {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                {% endif %}
            </h3>
        </div>
        
        <hr>
        {% with messages = get_flashed_messages() %} <!--The get_flashed_messages() function comes from Flask, and returns a list of all the messages that have been registered with flash() previously. -->
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li><!--li is list item-->
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}<!--block control statement for defining the place where the derived templates can insert themseles-->
    </body>
</html>
